.sofadi-one-regular {
  font-family: "Sofadi One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.head {
  font-size: 80px;
  color: rgb(205, 9, 156);
}
.date {
  font-size: 60px;
  color: rgb(240, 223, 44);
}
